.primary {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    color: #506399;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.feature {
  background-color: #f9f9f9;
  border: 1px solid #eaecf0;
  margin-bottom: 17px;
  flex-basis: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  text-align: center;
  img {
    margin-bottom: 10px;
  }
}