.about {
  background-color: #1c336b;
  padding: 13px;

  &__content {
    padding: 30px;
    border: 1px solid #2294ce;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    grid-template-areas:
    "about__text about__text about__info-1 about__info-2"
    "about__text about__text about__info-3 about__info-4";
  }

  &__text {
    grid-area: about__text;
    margin-right: 40px;
    //border: 1px solid #2294ce;

    &-header {
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
      color: #2294ce;
      margin-bottom: 15px;
    }

    &-content {
      color: white;
      margin-bottom: 30px;
    }
  }

  &__btn {
    background-color: #2294ce;
    color: white;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    padding: 8px 20px;
    margin-top: 5px;
    text-decoration: none;
    letter-spacing: .8px;
    transition: all .2s linear;
    text-transform: uppercase;

    &:active, &:visited {
      color: white;
    }

    &:hover {
      opacity: .9;
    }
  }

  &__btn-inline {
    color: white;
    margin-left: 20px;
    text-transform: uppercase;
    transition: color .2s linear;
    letter-spacing: 1px;

    &:hover {
      color: #2294ce;
    }

    &:active, &:visited {
      color: white;
    }
  }

  &__info {
    //border: 1px solid #2294ce;
    padding-left: 40px;

    &-1 {grid-area: about__info-1;}
    &-2 {grid-area: about__info-2;}
    &-3 {grid-area: about__info-3;}
    &-4 {grid-area: about__info-4;}
  }

  &__info-title {
    display: block;
    color: white;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
  }

  &__info-text {
    color: #2294ce;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
}