.header {
  border-bottom: 3px solid #506399;
  position: relative;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-bottom: 1px solid lightgray;
  }

  &__logo {
    img {
      height: 65px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-search{
      display: flex;
      align-items: center;

      input {
        height: 30px;
        outline: none;
        border: none;
        border-bottom: 1px solid lightgray;
        font-size: 15px;
        padding: 3px;
        transition: all .2s linear;

        &:hover, &:focus {
          border-bottom: 1px solid #506399;
        }
      }

      img {
        cursor: pointer;
      }
    }

    a {
      background-color: #506399;
      color: white;
      border-radius: 3px;
      width: 100%;
      text-align: center;
      padding: 5px 10px;
      margin-top: 5px;
      text-decoration: none;
      letter-spacing: .8px;
      transition: all .2s linear;

      &:active, &:visited {
        color: white;
      }

      &:hover {
        opacity: .9;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    height: 35px;

    &-list {
      width: 100%;
      display: flex;
      list-style: none;
      justify-content: space-between;
    }
  }
}